:root {
    --default-button-disabled-color: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
}

.search-button {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

button.search-button:disabled>svg {
    fill: var(--default-button-disabled-color);
}

.search-button:hover {
    opacity: 0.7;
}