:root {
    --subtitle-text-color: #7E7E7E;
    --link-hover-color: #208FBF;
    --title-text-color: #000000;
    --border-disabled-color-default: #D9D9D9;
    --bg-white: #ffffff;
    --placeholder-text-color: #7E7E7E;
    --main-active-color: #FF5555;
    --disabled-color: #D9D9D9;
    --default-font-family: 'Roboto', sans-serif;
    --padding-input: 17px 75px 17px 12px;
}


/*---------------------------------Combined style---------------------------------------*/

body {
    margin: 10px;
    font-family: var(--default-font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 397px;
    display: grid;
    grid-row-gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.wrapper__header {
    display: grid;
    grid-template-columns: 295px 50px;
    grid-column-gap: 12px;
}

.wrapper__content {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 16px;
}
