<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tile.css">
    <title>Homework 1</title>
</head>

<body>
    <div class="wrapper__tile">
        <div class="tile__img"></div>
        <div class="tile__textarea">
            <div class="tile__textarea-title">kts-school-frontend-and-thats-very-very-long-name</div>
            <div class="tile__textarea-author subtitle"><a class="tile__textarea-author_l" href="#">ktsstudio</a></div>
            <div class="tile__textarea-meta subtitle">
                <img src="../imgs/star.svg" alt="" class="meta__rating-star">
                <span class="meta__rating_t">123</span>
                <div class="meta__date ">
                    Updated 21 Jul
                </div>
            </div>
        </div>
    </div>
</body>

</html>